<div class="container-fluid pl-4 pt-3">
  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let movie of movies" class="d-flex flex-column mr-2 mb-5">
      <h3>{{ movie.title }}</h3>
      <img src="{{ movie.poster }}" class="poster mat-elevation-z3">
      <div class="d-flex justify-content-end mt-3">
        <button mat-mini-fab color="primary" (click)="editMovie(movie)">
          <mat-icon>create</mat-icon>
        </button>
        <span class="mx-2"></span>
        <button mat-mini-fab color="primary" (click)="deleteMovie(movie)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
